h1 {
  text-align: center;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: rgba(60, 132, 44, 0.317);
  border-radius: 8px;
  height: 80px;
}

input {
  height: 25px;
  border-radius: 8px;
  border: 1px solid transparent;
}
input:focus {
  outline: none;
}

button {
  height: 31px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15px;
}

li {
  background-color: white;
  border: 2px solid #096c05;
  border-radius: 8px;
  width: 200px;
  height: 150px;
  padding: 20px; 
  font-size: 16px;
  position: relative;
  word-wrap: break-word;
}

.toggle-btn,
.del-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1; 
}
.del-btn {
  border: 2px solid rgba(237, 4, 4, 0.756); 
}
.toggle-btn {
  border: 2px solid rgba(7, 99, 180, 0.756); 
  margin-right: 45px; 
}